@using CodeBlock.DevKit.Contracts.Models
@using CodeBlock.DevKit.Contracts.Services
@using CodeBlock.DevKit.Web.Blazor.Server.Components
@using CodeBlock.DevKit.Web.Localization

@inject LocalizationSettings LocalizationSettings
@inject ApplicationSettings ApplicationSettings
@inject ISettingAccessorService SettingAccessorService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html dir="@LocalizationSettings.GetCurrentLanguageDirection()" lang="@LocalizationSettings.GetCurrentLanguageCode()" style="font-family: @LocalizationSettings.GetCurrentLanguageFont() !important">
<head>
    <component type="typeof(HeadTags)" render-mode="ServerPrerendered" />
    <link rel="icon" type="image/png" href="~/images/favicon/favicon-96x96.png sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="~/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="~/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="description" content="@ApplicationSettings.Localized.Description">
    <title>@ViewData["Title"]</title>
    <base href="~/" />
    <link href="/css/website.@(LocalizationSettings.GetCurrentLanguageDirection().ToLower()).min.css?v=1" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body style="background-color:#0f172a; font-family: @LocalizationSettings.GetCurrentLanguageFont() !important">

    <partial name="_NavMenu" />

    @RenderBody()

    <partial name="_Footer" />

    <script src="/js/website.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>